/* importing all the fonts */
@font-face {
    font-family: 'BobbyJonesSoft';
    src: url("fonts/bjSoft.otf");
}
@font-face {
    font-family: 'BobbyJonesOutline';
    src: url("font/bjSoftOutline.otf");
}

html {
    background-image: url(home/backgroundImage.png);
    scroll-behavior: smooth;
    cursor: url(https://cur.cursors-4u.net/nature/nat-10/nat996.cur), auto !important;
}
body {
    margin: 0;
    min-height: 100%;
}

.navigationBar {
    list-style-type: none;
    padding: 0;

    margin-left: 3vw;
    margin-top: 3vw;

    height: 100%;
    width: 30vw;
    position: fixed;
    overflow: auto;

    font-size: 2.8vw;
}

.navigationBar a {
    display: block;
    text-decoration: none;

    font-family: "BobbyJonesSoft";
}

.navigation {
    color: #A1683A;
    transition: color 0.5s;
}
.navigation:hover {
    color: #EED2CC;
}
.navigation:visited {
    color: #A1683A;
}
.active {
    color: #E8998D;
}

.main {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px;
    background-color: #FBF7F4;
}
.backgroundVideo {
    margin-top: 8vh;
    margin-left: 15vw;
    width: 80vw;
}
.gif {
    width: 100%;
}



footer {
    display: flex;
    margin: 0;
    margin-right: 5vw;
    margin-bottom: 3vh;
    margin-top: 5vh; 
}

.createdBy {
    font-family: BobbyJonesOutline;
    font-size: 2.5vmax;
    color: #A1683A;
}

ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;
    flex: 100%;
    margin: auto;
}
.specifics {
    display: flex;
    margin-left: 3vw;
}

li {
    font-size: 2vmax;
    font-family: BobbyJonesSoft;
    text-align: center;
    margin-left: 2vw;
}


@media screen and (min-width: 1200px) {
    .backgroundVideo {
        margin-top: 8vh;
        margin-left: 18vw;
        width: 60vw;
    }
    
    footer {
        margin: 0;
        margin-top: 3vw;
        justify-content: center;
        display: flex;
    }

    .createdBy {
        font-family: BobbyJonesOutline;
        font-size: 2vmax;
        color: #A1683A;
    }

    li {
        font-size: 2vmax;
        font-family: BobbyJonesSoft;
        text-align: center;
        margin-left: 2vw;
    }
    
}

/* colors:
    cream: FBF7F4
    brown: A1683A
    dark pink: E8998D
    light pink: EED2CC
    green: 6C9A8B
*/

