
/* projects individual page */
.mainBody {
    margin-left: 10vw;
}

.spaceq {
    height: 10vh;
}

h1 {
    color: #E8998D;
    font-size: 40px;
    text-align: center;
    font-family: 'BobbyJonesOutline';
    width: 70%;
    margin: auto;

    margin-bottom: 4vh;
}

.rows {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 55vw;
    margin-top: 1vh;
}
.project {
    margin: 0;
    margin-left: 2vw;
    margin-right: 2vw;
}

.actualImage {
    width: 100%;
    border-radius: 5px;
    transition: box-shadow 0.3s;
}
.actualImage:hover {
    box-shadow: 2px 2px 7px black;
}

.image {
    margin-top: 3vh;
}

p {
    font-family: "BobbyJonesSoft";
    color: #6C9A8B;
}
.desc {
    margin: 0;
    margin-top: 1vh;
}


/* colors:
    cream: FBF7F4
    brown: A1683A
    dark pink: E8998D
    light pink: EED2CC
    green: 6C9A8B
*/

.space {
    height: 2vh;
}

#preloader {
    background: #FBF7F4 url(loading.gif) no-repeat center center;
    background-size: 28%;
    height: 100vh;
    width: 100%;

    position: fixed;
    z-index: 100;

}