
/* projects individual page */
.mainBody {
    margin-left: 10vw;
}

.spaceq {
    height: 10vh;
}

h1 {
    color: #E8998D;
    font-size: 40px;
    text-align: center;
    font-family: 'BobbyJonesOutline';
    width: 70%;
    margin: auto;

    margin-bottom: 4vh;
}

.rows {
    display: flex;
    margin: auto;
    justify-content: center;
    width: 55vw;
}
.project {
    margin: 0;
    margin-left: 2vw;
    margin-right: 2vw;
}

.image {
    margin-top: 3vh;
}

p {
    font-family: "BobbyJonesSoft";
}


/* colors:
    cream: FBF7F4
    brown: A1683A
    dark pink: E8998D
    light pink: EED2CC
    green: 6C9A8B
*/

.space {
    height: 2vh;
}